.form-container {
    margin: 100px;
    width: calc(50% - 200px);
}

.form-container textarea,
.form-container input[type="text"]{
    width: 100%;
    padding: 5px 0;
    border: none;
    border-bottom: 2px solid #B9B9B9;
    background-color: inherit;
    margin-bottom: 15px;
    transition: border-bottom-color .3s ease-in ;
}

.form-container textarea:focus,
.form-container input[type="text"]:focus{
    width: 100%;
    padding: 5px 0;
    border: none;
    border-bottom: 2px solid #FF3C5A;
    background-color: inherit;
    margin-bottom: 20px;
}

input, textarea {
    outline: none;
    box-shadow: none;
    border: none;
}


.form-container input[type="submit"]{
    float:right;
    background-color: #FF3C5A;
    color: #FFFFFF;
    padding: 5px 7px;
}

.form-container label{
    color: #B9B9B9;
}
