body {
    padding: 0;
    margin: 0;
    background: #FFFFFF;
    background: #fff;
    color: #222;
    font-family: Source Sans Pro;
}

.sidebar {
    height: 100%;
    width: 367px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
}

.paralect {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
}

.start-up-summer {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    background-image: url("vector.svg");
    background-repeat: no-repeat;
    background-position: center;
}


.aside-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.aside-nav ul li {
    margin: 10px 0;
}

.aside-nav ul li a {
    text-decoration: none;
    color: #B9B9B9;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main {
    position: absolute;
    width: calc(100% - 367px - 20px);
    left: 367px;
    top: 20px;
    background: #EDEDED;
    border-radius: 50px;
    margin: 20px 20px 20px 20px;
}

.logo div {
    font-size: 24px;
    line-height: 30px;
}

.icon-svg {
    width: 20px;
    height: 20px;
    color: #B9B9B9;
    margin-right: 5px;
}

.form-container {
    width: 25%;
    min-width: 400px;
    margin: 100px;
}

.form-container input[type="text"]{
    width: 100%;
    padding: 5px 0;
    border: none;
    border-bottom: 2px solid #B9B9B9;
    background-color: inherit;
    margin-bottom: 15px;
    transition: border-bottom-color .3s ease-in ;
}

.form-container input[type="text"]:focus{
    width: 100%;
    padding: 5px 0;
    border: none;
    border-bottom: 2px solid #FF3C5A;
    background-color: inherit;
    margin-bottom: 20px;
}

input {
    outline: none;
    box-shadow: none;
    border: none;
}


.form-container input[type="submit"]{
    float:right;
    background-color: #FF3C5A;
    color: #FFFFFF;
    padding: 5px 7px;
}

.form-container label{
    color: #B9B9B9;
}
